/* Copyright Yusuf Sabbag. Distributed under the MIT License respectively CC-BY NC License. */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    box-sizing: border-box;
    color: black;
    font-family: 'Cairo', sans-serif;
    background-color: #bda7a3;
    width: 100%;
    height: 100%;
    overflow: auto;
}


/* Typography */

h1 {
    text-align: center;
    margin: 5rem 0rem 0rem;
    font-size: 6rem;
    font-family: 'Aref Ruqaa', serif;
    font-weight: 700;
}

h2 {
    font-size: 1.3rem;
    padding: 2.5rem 0 0.9rem;
    color: #b0635d;
    position: relative;
}

.accordion-heading {
    font-size: 1.1rem;
    padding-left: 1rem;
}

h3 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    font-size: 1.1em;
    margin: 0 0 0.8rem;
    padding: 5px;
}

p {
    font-weight: 500;
    margin-bottom: 1.2rem;
    line-height: 2;
}

a,
button {
    outline: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #b0635d;
}

.main-content a {
    color: #b0635d;
    outline: 0;
}

.main-content a:hover {
    text-decoration: underline;
    color: royalblue;
}


/* the banner images */

.desktop-banner-image {
    background-color: transparent;
    mix-blend-mode: multiply;
    display: block;
    margin: 0 auto 1rem;
}


/* nav */

.desktop-nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 1.3rem;
    margin-top: 2rem;
}

.desktop-nav-items li {
    padding: 5px 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    box-shadow: -5px -5px #b0635d;
}

.desktop-nav-items a:hover,
.desktop-nav-items li:hover {
    cursor: pointer;
    background-color: #b0635d;
    color: white;
    box-shadow: none;
}


/* class for active */

.desktop-nav-items li.active {
    padding: 5px 15px;
    background-color: #b0635d;
    box-shadow: -7px -7px black;
    color: white;
}

.desktop-nav-items li.active:hover,
li.active:hover>a {
    background-color: #ab8d87;
    color: black;
}

.desktop-nav-items li.active:hover {
    box-shadow: -7px -7px #b0635d;
}


/* nav on mobile */

.mobile-nav-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.mobile-banner nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1rem auto 0;
}

.mobile-banner nav button {
    height: 3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.mobile-banner h5 {
    align-self: center;
}

.mobile-nav-items {
    display: none;
}


/* header END */


/* main */

.intro-image {
    display: block;
    width: 45%;
    max-width: 900px;
    min-width: 275px;
    margin: 0 auto 1rem;
    border: solid 1px #b0635d;
}

.main-content {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 75%;
    max-width: 1200px;
    margin: 0 auto 3rem;
    padding: 0rem 2rem 1rem;
}

.main-content section {
    width: calc(33.3%);
    border-right: 2px solid #b0635d;
    padding: 0.9rem 1.5rem 0rem;
}

.main-content section:first-of-type {
    border: none;
}

.section-2 .interests,
.section-1 .about-him {
    margin-bottom: 5rem;
}

.section-1 .about-life,
.section-2 .quotes {
    margin-top: 5rem
}

.section3 .quotes blockquote {
    padding: 1rem 0;
    font-style: oblique;
}

.quotes>blockquote::before,
.quotes>blockquote::after {
    content: "'";
}


/* the accordion interviews sections */

.interview-title {
    display: flex;
}

.interview-body {
    border: 2px solid #b0635d;
    border-top: none;
    border-bottom: none;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: all 650ms ease-in;
    text-align: right;
}

.interview-img {
    position: relative;
    border: 2px solid #b0635d;
}

.interview-img::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: #b0635d;
    top: 0;
    right: 0;
}

.interview-section {
    margin-bottom: 2rem;
}

.interviews-accordion .expand-icon {
    width: 52px;
    max-width: 52px;
    align-self: center;
}

.interviews-accordion .expand-icon:hover {
    cursor: pointer;
}

.interviews-accordion img {
    width: 90%;
    display: block;
    margin: 1rem auto 0.5rem;
    max-width: 300px;
    align-self: center;
    transition: all ease-in-out 200ms;
    overflow: hidden;
}

.interviews-accordion img:hover {
    transform: scale(1.1);
}

.interviews-accordion button {
    color: #b0635d;
    padding: 0.4rem 1rem;
    line-height: 1.7rem;
    border: none;
    background-color: white;
}

.interviews-accordion button:hover {
    cursor: pointer;
}

.interviews-accordion .interview-description p {
    font-size: 0.9rem;
    line-height: 2rem;
    margin-top: 0;
    padding-right: 1rem;
}


/* main END */


/* Typography END*/


/* =============
        media qs
   ============ */


/* starting from thhe widest screen size */


/* anything but mobile screens */

@media (min-width: 573px) {
    .mobile-navbar,
    .mobile-banner,
    .mobile-banner button {
        display: none;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
    .intro-image {
        width: 60%;
    }
    /* main  */
    .main-content {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .nav-items {
        font-size: 1.1rem;
        justify-content: space-between;
        width: 100%;
        padding: 0px 5px;
    }
    /* main */
    .main-content section:last-child {
        margin: 0 auto;
    }
}


/*small screens */

@media (max-width: 900px) {
    /* main */
    .main-content {
        flex-direction: column;
        padding: 1rem 0;
    }
    .main-content section {
        width: 90%;
        margin: 0 auto;
    }
    .main-content section:first-of-type {
        border-right: 2px solid #b0635d;
    }
    .interview-title {
        width: 100%;
        justify-content: space-between;
    }
    .interview-title img {
        margin: 0;
    }
    .interview-body {
        padding: 0.5rem 0;
    }
    /* typography */
    h1 {
        font-size: 2rem;
        margin: 2rem 0 2rem;
    }
    h5 {
        padding: 0;
        margin: 0 0 1.5rem;
    }
}


/* mobile */

@media (max-width: 572px) {
    /* header and nav */
    .desktop-nav-items {
        display: none;
    }
    .mobile-nav-items {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 3.5rem;
        width: 98%;
    }
    .mobile-nav-items li {
        padding: 2px 5px;
        border-radius: 20px;
    }
    .mobile-banner-image {
        width: 240px;
    }
    /* main */
    .intro-image {
        width: 75%;
    }
    .main-content section {
        padding: 1.05rem;
    }
    .interview-section {
        margin: 0 auto 2rem;
    }
    h5 {
        font-size: 1.1rem;
        border-bottom: 1px ridge #b0635d;
        width: 50%;
    }
}


/* re-adujusting the header on certain sizes*/

@media (min-width: 573px) and (max-width: 621px) {
    .desktop-nav-items {
        justify-content: space-evenly;
        font-size: 1.1rem;
    }
}

@media (min-width: 900px) {
    /* work around for an issue with bootstraps buttons in the accordion */
    .interview-section button {
        direction: ltr;
    }
}