/* Copyright Yusuf Sabbag. Distributed under the MIT License respectively CC-BY NC License. */

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	box-sizing: border-box;
	color: black;
	font-family: "Cairo", sans-serif;
	background-color: #bda7a3;
	width: 100%;
	height: 100%;
	overflow: auto;
}

/* Typography */

h1 {
	text-align: center;
	margin: 5rem 0rem 0rem;
	font-size: 6rem;
	font-family: "Aref Ruqaa", serif;
	font-weight: 700;
}

h2 {
	font-size: 1.3rem;
	padding: 2.5rem 0 0.9rem;
	color: #b0635d;
	position: relative;
}

.accordion-heading {
	font-size: 1.1rem;
	padding-left: 1rem;
}

h3 {
	margin: 0;
	font-size: 1rem;
}

h5 {
	font-size: 1.1em;
	margin: 0 0 0.8rem;
	padding: 5px;
}

p {
	font-weight: 500;
	margin-bottom: 1.2rem;
	line-height: 2;
}

a,
button {
	outline: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #b0635d;
}

.main-content a {
	color: #b0635d;
	outline: 0;
}

.main-content a:hover {
	text-decoration: underline;
	color: royalblue;
}

/* main */

.intro-image {
	display: block;
	width: 45%;
	max-width: 900px;
	min-width: 275px;
	margin: 0 auto 1rem;
	border: solid 1px #b0635d;
}

.main-content {
	background-color: white;
	display: flex;
	justify-content: space-between;
	width: 75%;
	max-width: 1200px;
	margin: 0 auto 3rem;
	padding: 0rem 2rem 1rem;
}

.main-content section {
	width: calc(33.3%);
	border-right: 2px solid #b0635d;
	padding: 0.9rem 1.5rem 0rem;
}

.main-content section:first-of-type {
	border: none;
}

.section-2 .interests,
.section-1 .about-him {
	margin-bottom: 5rem;
}

.section-1 .about-life,
.section-2 .quotes {
	margin-top: 5rem;
}

.section-2 .quotes blockquote {
	padding: 1rem 0;
	margin: 1rem 0;
	font-style: oblique;
}

.main-content section:last-child {
	margin: 0 auto;
}

.quotes > blockquote::before {
	content: "- '";
}

.quotes > blockquote::after {
	content: "'";
}
/* the accordion interviews sections */

.interview-title {
	display: flex;
}

.interview-body {
	border: 2px solid #b0635d;
	border-top: none;
	border-bottom: none;
	visibility: hidden;
	max-height: 0;
	overflow: hidden;
	transition: all 650ms ease-in;
	text-align: right;
}

.interview-img {
	position: relative;
	border: 2px solid #b0635d;
}

.interview-img::before {
	content: "";
	position: absolute;
	height: 2px;
	width: 50%;
	background-color: #b0635d;
	top: 0;
	right: 0;
}

.interview-section {
	margin-bottom: 2rem;
}

.interviews-accordion .expand-icon {
	width: 52px;
	max-width: 52px;
	align-self: center;
}

.interviews-accordion .expand-icon:hover {
	cursor: pointer;
}

.interviews-accordion img {
	width: 90%;
	display: block;
	margin: 1rem auto 0.5rem;
	max-width: 300px;
	align-self: center;
	transition: all ease-in-out 200ms;
	overflow: hidden;
}

.interviews-accordion img:hover {
	transform: scale(1.1);
}

.interviews-accordion button {
	color: #b0635d;
	padding: 0.4rem 1rem;
	line-height: 1.7rem;
	border: none;
	background-color: white;
}

.interviews-accordion button:hover {
	cursor: pointer;
}

.interviews-accordion .interview-description p {
	font-size: 0.9rem;
	line-height: 2rem;
	margin-top: 0;
	padding-right: 1rem;
}

/* main END */

/* =============
      media qs 
   ============ */

/* starting from thhe widest screen size */

@media (max-width: 1200px) {
	h1 {
		font-size: 4rem;
	}
	.intro-image {
		width: 60%;
	}
	/* main  */
	.main-content {
		width: 90%;
	}
}

/*small screens */

@media (max-width: 900px) {
	/* main */
	.main-content {
		flex-direction: column;
		padding: 1rem 0;
	}
	.main-content section {
		width: 90%;
		margin: 0 auto;
	}
	.main-content section:first-of-type {
		border-right: 2px solid #b0635d;
	}
	.interview-title {
		width: 100%;
		justify-content: space-between;
	}
	.interview-title img {
		margin: 0;
	}
	.interview-body {
		padding: 0.5rem 0;
	}
	/* typography */
	h1 {
		font-size: 3.5rem;
		margin: 2rem 0 2rem;
	}
	h5 {
		padding: 0;
		margin: 0 0 1.5rem;
	}
}

/* mobile */

@media (max-width: 572px) {
	/* main */
	.main-content section {
		padding: 1.05rem;
	}
	.interview-section {
		margin: 0 auto 2rem;
	}
	h5 {
		font-size: 1.1rem;
		border-bottom: 1px ridge #b0635d;
		width: 50%;
	}
}

@media (min-width: 900px) {
	/* work around for an issue with bootstraps buttons in the accordion */
	.interview-section button {
		direction: ltr;
	}
}
