<div class="figure">
	<figure>
		<img src="img/Banner/footer-img.png" alt="Picture of the doctor" />
	</figure>
	<p class="footer-text">مصطفى محمود</p>
</div>
<div class="footer-items">
	<div>
		<h5>المصادر المستخدمة:</h5>
		<ul>
			<li><a href="https://ar.wikipedia.org">ويكيبيديا بالعربي</a></li>
			<li><a href="https://en.wikipedia.org">ويكيبيديا بالإنجليزية</a></li>
			<li>
				<a
					href="https://archive.org/details/nordarby_20161221/%D8%AF++%D9%85%D8%B5%D8%B7%D9%81%D9%8A+%D9%85%D8%AD%D9%85%D9%88%D8%AF+_+%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D8%AC+%D8%A7%D9%84%D8%B9%D9%84%D9%85+%D9%88%D8%A7%D9%84%D8%A7%D9%8A%D9%85%D8%A7%D9%86+%D8%A7%D9%84%D8%AD%D9%84%D9%82%D8%A9+1+(+%D8%A7%D9%84%D8%AC%D9%87%D8%A7%D8%B2+%D8%A7%D9%84%D8%B9%D8%B5%D8%A8%D9%8A+)+%D8%AC%D9%88%D8%AF%D8%A9+%D8%B9%D8%A7%D9%84%D9%8A%D8%A9+(2).mp4"
					>مصطفى محمود - الأعمال الكاملة</a
				>
			</li>
			<li>
				<a href="https://www.youtube.com/results?search_query=%D9%85%D8%B5%D8%B7%D9%81%D9%89+%D9%85%D8%AD%D9%85%D9%88%D8%AF"
					>اليوتيوب</a
				>
			</li>
		</ul>
	</div>
	<div>
		<h5>جِد الدكتور من خلال:</h5>
		<ul>
			<li>
				<a href="https://www.youtube.com/user/DrMostafaMahmud">القناة الرسمية على اليوتيوب</a>
			</li>
			<li>
				<a href="https://www.facebook.com/Science.Faith?refid=7&_ft_=qid.6061565986845148325%3Amf_story_key.-6295907305872139573"
					>صفحته على الفيسبوك</a
				>
			</li>
			<li>
				<a href="https://dmostafamahmoud.blogspot.com/">بلوغ خاص بالدكتور</a>
			</li>
			<li>
				<!-- TODO add the correct website link link -->
				<a href="https://www.mustafamahmoud.net">الموقع هذا</a>
			</li>
		</ul>
	</div>
	<div>
		<h5>عن مطور الموقع:</h5>
		<ul>
			<li>
				<a href="https://github.com/Yuniac">غيتهب (Github)</a>
			</li>
			<li>
				<a href="https://www.twitter.com/YMsabbag">تويتر (Twitter)</a>
			</li>
			<li>
				<a class="language">AR | EN</a>
				<p class="language-description lginfo-visibility">SOON | قريباً</p>
			</li>
		</ul>
	</div>
</div>
