<div class="search">
	<form action="/books" method="GET">
		<div>
			<img src="img/icons/search.png" alt="" />
			<input type="text" class="search-input" id="search" name="name" placeholder="بحث... أدخل أسم الكتاب فقط" />
		</div>
		<div>
			<button type="submit">أبحث</button>
			<button id="hide-search-results" type="button">تراجع</button>
		</div>
	</form>
</div>
<section class="search-results-wrapper">
	<div class="search-results"></div>
	<span></span>
</section>
