<!-- Copyright Yusuf Sabbag. Distributed under the MIT License respectively CC-BY NC License. -->

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="title" content="مصطفى محمود" />
<meta name="description" content="موقع عن الدكتور مصطفى محمود" />
<meta name="keywords" content="مصطفى محمود" />
<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="Arabic" />
<meta name="google-site-verification" content="qDGVyCzA06fEEdeyhijpemF4ovUCTZvYJxwdBhdGs5E" />
<link rel="icon" href="./img/Icons/favicon.png" />
<!-- CSS -->
<link type="text/css" rel="stylesheet" href="CSS/default-styles/default.css" />
<!-- FONTS -->
<!-- Aref Ruqaa -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap" rel="stylesheet" />
<!-- Lateef arabic font -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet" />
<!-- Cairo arabic font -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Cairo:wght@600&display=swap" rel="stylesheet" />
<script src="JS/website_helpers.js"></script>
<title>مصطفى محمود</title>
