<!-- desktop nav -->
<div class="banner">
	<div>
		<img class="desktop-banner-image mobile-banner-image" src="img/Banner/banner.png" alt="صورة للدكتور" />
		<div>
			<ul class="desktop-nav nav-items">
				<li><a href="/">الرئيسيةَ</a></li>
				<li><a href="/literature">أعمال المَحمود</a></li>
				<li>
					<a href="/lifestory">حياة المَحمود</a>
				</li>
				<li><a href="/memorial">في ذكرى المحَمود</a></li>
			</ul>
		</div>
	</div>
	<!-- mobile nav -->
	<div class="mobile-banner">
		<ul class="nav mobile-nav nav-items">
			<li><a href="/">الرئيسية</a></li>
			<li><a class="active" href="/literature">أعمال المَحمود</a></li>
			<li><a href="/lifestory" class="current-page">حياة المَحمود</a></li>
			<!-- <ul class="sub-nav-items" style="height: 0px"> -->
			<li><a href="/memorial ">في ذكرى المحَمود</a></li>
			<!-- </ul> -->
		</ul>
	</div>
</div>
