<div class="banner">
	<div>
		<img class="desktop-banner-image mobile-banner-image" src="img/Banner/banner.png" alt="صورة للدكتور" />
		<div>
			<ul class="desktop-nav nav-items">
				<li>
					<a href="/" class="nav-item" data-route="/">الرئيسيةَ</a>
				</li>
				<li>
					<a href="/literature" class="nav-item" data-route="/literature">أعمال المَحمود</a>
				</li>
				<li>
					<a href="/lifestory" class="nav-item" data-route="/lifestory"">حياة المَحمود</a>
				</li>
				<li><a href="/memorial" class="nav-item" data-route="/memorial">في ذكرى المحَمود</a></li>
			</ul>
		</div>
	</div>

	</div>
</div>
