/* Copyright Yusuf Sabbag. Distributed under the MIT License respectively CC-BY NC License. */

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	box-sizing: border-box;
	color: black;
	font-family: "Cairo", sans-serif;
	background-color: #bda7a3;
	width: 100%;
	height: 100%;
}

/* Typography */

h1 {
	text-align: right;
	font-size: 2.5rem;
	font-family: "Aref Ruqaa", serif;
	font-weight: 700;
	margin: 1.4rem 0 2rem;
	padding-bottom: 0.6rem;
	border-bottom: 1px solid #b0635d;
	border-width: 60%;
}
h2 {
	text-align: center;
	margin-bottom: 8rem;
	margin-top: 8rem;
	font-size: 2rem;
}

h2::before {
	content: "{";
	padding: 0 0.4rem;
	color: #b0635d;
}

h2::after {
	content: "}";
	padding: 0 0.4rem;
	color: #b0635d;
}
h5 {
	font-size: 1rem;
}

a,
button {
	outline: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

main section a {
	text-decoration: none;
	color: #b0635d;
}

a:hover {
	color: royalblue;
}

h5 {
	font-size: 1.1em;
	margin: 0 0 0.8rem;
	padding: 5px;
}

/* Typography END*/

/* the banner images */

.desktop-banner-image {
	display: block;
	margin: 0 auto;
}

.desktop-banner-image {
	background-color: transparent;
	mix-blend-mode: multiply;
	margin: 0 auto 1rem;
}

/* nav */

.desktop-nav-items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	font-size: 1.3rem;
	margin-top: 2rem;
}

.desktop-nav-items li {
	padding: 5px 15px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor: pointer;
	box-shadow: -5px -5px #b0635d;
}

.desktop-nav-items a:hover,
.desktop-nav-items li:hover {
	cursor: pointer;
	background-color: #b0635d;
	color: white;
	box-shadow: none;
}

/* class for active */

.desktop-nav-items li.active {
	padding: 5px 15px;
	background-color: #b0635d;
	box-shadow: -7px -7px black;
	color: white;
}

.desktop-nav-items li.active:hover,
li.active:hover > a {
	background-color: #ab8d87;
	color: black;
}

.desktop-nav-items li.active:hover {
	box-shadow: -7px -7px #b0635d;
}

/* second nav */

/* nav bottom border */

.secondary-nav::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 90%;
	margin-right: 5%;
	height: 2px;
	background-color: #b0635d;
}

.secondary-nav {
	border-top-right-radius: 5rem;
	border-top-left-radius: 5rem;
	position: relative;
}

.secondary-nav ul {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 30%;
	margin: 0 auto;
}

.second-nav-items li {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 4px 14px;
	box-shadow: -5px -5px #b0635d;
}

.secondary-nav a:hover,
.secondary-nav li:hover {
	cursor: pointer;
	background-color: #b0635d;
	color: white;
	box-shadow: none;
}

/* second nav active class */

.second-nav-items li.active {
	background-color: #b0635d;
	box-shadow: -7px -7px black;
	color: white;
}

.second-nav-items li.active:hover {
	box-shadow: -5px -5px #b0635d;
}

.second-nav-items li.active:hover,
li.active:hover > a {
	background-color: #ab8d87;
	color: black;
}

/* nav on mobile */

.mobile-nav-list {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.mobile-banner nav {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 1rem auto 0;
}

.mobile-banner nav button {
	height: 3rem;
	background-color: transparent;
	border: none;
	outline: none;
}

.mobile-banner h5 {
	align-self: center;
}

.mobile-nav-items {
	display: none;
}

/* header END */

/* main */

.intro {
	margin: 2rem auto 3rem;
	width: 90%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.intro span {
	color: #b0635d;
}

.intro section p {
	margin: 1rem 0 2rem 1rem;
	line-height: 2rem;
	font-size: 1.1rem;
	font-weight: 400;
}

/* main END */

/* =============
        media qs
   ============ */

/* anything but mobile screens */

@media (min-width: 573px) {
	.mobile-banner {
		display: none;
	}
}

@media (max-width: 1400px) {
	.books-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		width: 96%;
		margin: 0 auto;
	}
	.book {
		margin: 0 auto 2rem;
		width: 65%;
	}
}

@media (max-width: 1100px) {
	.nav-items {
		font-size: 1.1rem;
		justify-content: space-between;
		width: 100%;
		padding: 0px 5px;
	}
	.desktop-nav {
		width: 90%;
		margin: 0 auto;
	}
}

/* mobile and small screens */

@media (max-width: 900px) {
	/* nav */
	.desktop-nav-items li {
		padding: 0;
		font-size: 0.9rem;
	}
	/* main */

	.book-card {
		width: 90%;
	}
	.book-card p {
		font-size: 0.9rem;
	}
	.book-bio {
		flex-direction: column;
	}
	.book-bio p:first-of-type {
		border-bottom: 1px solid black;
		border-left: none;
	}
	/* footer */
	.figure img {
		width: 175px;
		height: 190px;
	}
	.footer-items {
		line-height: 1rem;
		width: 100%;
	}
	footer img {
		display: none;
	}
	/* main / typo */
	h1 {
		font-size: 2rem;
	}
	.intro-image {
		width: 60%;
	}
	h5 {
		padding: 0;
		margin: 0 0 0.5rem;
	}
}

@media (max-width: 690px) {
	.secondary-nav ul {
		width: 45%;
	}
}

@media (max-width: 572px) {
	/* header and nav */
	.desktop-nav-items {
		display: none;
	}
	.mobile-nav-items {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		font-size: 1.3rem;
		font-weight: 500;
		line-height: 3.5rem;
		width: 98%;
	}
	.mobile-nav-items li {
		padding: 2px 5px;
		border-radius: 20px;
	}
	.mobile-banner-image {
		width: 240px;
	}
	.mobile-nav-items a:hover {
		color: #b0635d;
	}
	/* second nav */
	.secondary-nav ul {
		border-radius: 0;
		justify-content: space-around;
		width: 90%;
		margin: 0 auto;
	}
	.second-nav-items li {
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		padding: 4px 14px;
		box-shadow: -5px -5px #b0635d;
	}
	.secondary-nav a:hover,
	.secondary-nav li:hover {
		cursor: pointer;
		background-color: #b0635d;
		color: white;
		box-shadow: none;
	}
	/* main */
	p {
		font-size: 1rem;
	}
	h5 {
		font-size: 1.1rem;
		border-bottom: 1px ridge #b0635d;
		width: 50%;
	}
	.intro {
		flex-direction: column-reverse;
	}
	.gallery {
		width: 80%;
	}
	.book-card {
		width: 98%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.book-card img {
		height: 300px;
	}
	.book-links img {
		width: 16px;
		height: 16px;
	}
}

/* re-adujusting the header on certain sizes*/

@media (min-width: 573px) and (max-width: 621px) {
	.desktop-nav-items {
		justify-content: space-evenly;
		font-size: 1.1rem;
	}
}
