/* footer */

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #bda7a3;
    border-top: 1px solid #b0635d;
}

footer li {
    padding: 0.4rem 0.2rem;
}

footer ul li.special-li,
li.special-li>a,
li.special-li a:hover {
    cursor: copy;
    color: #918a89;
}

footer ul a:hover {
    color: #b0635d;
    cursor: pointer;
}

footer img {
    width: 262px;
    background-color: transparent;
}

footer figure {
    margin: 0;
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer-items {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding: 1rem 0.5rem 0rem;
}

.footer-items>div {
    margin-left: auto;
}

.footer-items div:nth-of-type(2) ul {
    position: relative;
}

.footer-text {
    margin: 0;
    display: none;
}


/* footer special links */

footer a.language {
    color: #918a89;
    margin-right: 15px;
}

footer a.language:hover {
    cursor: help;
    text-decoration: none;
    color: #918a89;
}

.language-description {
    color: black;
    background-color: #ab8d87;
    border-radius: 5px;
    padding: 4px;
    max-width: 90px;
    margin-top: 0.3rem;
    direction: rtl;
    position: relative;
    opacity: 1;
    text-align: center;
}

.copy-notice {
    background-color: #ab8d87;
    border-radius: 5px;
    padding: 8px;
    margin-top: 0.3rem;
    direction: rtl;
    opacity: 1;
    text-align: center;
    position: absolute;
    bottom: 41px;
    left: -25px;
}

#link {
    display: none;
}

.lginfo-visibility,
.copy-notice-visibility {
    opacity: 0;
    transition: opacity 1s;
}

.language-description::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    right: 15px;
    border-style: solid;
    border-width: 0px 10px 20px 10px;
    border-color: transparent transparent #ab8d87 transparent;
}

@media (max-width: 900px) {
    /* footer */
    footer li {
        padding: 0.7rem;
    }
    .figure img {
        width: 175px;
        height: 190px;
    }
    .footer-items {
        line-height: 1rem;
        width: 100%;
    }
    footer img {
        display: none;
    }
}

@media (max-width: 572px) {
    .footer-items>div {
        margin: 0;
    }
    footer ul {
        margin: 0;
        padding: 0;
    }
    footer {
        font-size: 1.1rem;
        flex-direction: column-reverse;
        width: 95%;
    }
    .footer-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 0px 5px;
        margin: 0;
        line-height: 2.5rem;
    }
    .footer-items div {
        margin: 1rem;
    }
    footer figure img {
        width: 50%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    .footer-text {
        display: block;
        align-self: flex-end;
        margin-right: 1.5rem;
        margin-top: 1rem;
        font-size: 11vw;
        font-family: 'Aref Ruqaa', serif;
        color: #b0635d;
    }
    .figure {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-flow: row-reverse nowrap;
    }
    .copy-notice {
        left: 105px;
    }
    .language-description {
        font-size: 0.9rem;
    }
    footer a.language {
        margin-right: 0;
    }
}