<!-- Copyright Yusuf Sabbag. Distributed under the MIT License respectively CC-BY NC License. -->

<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<%- include("../partials/head") %> 
		<link type="text/css" rel="stylesheet" href="CSS/books-subpage.css" />
	</head>

	<body>
		<header>
			<%- include("../partials/navbar") %> 
		</header>
		<main>
			<section class="intro">
				<h1>الكتابة النثرية:</h1>
				<p>
					-كتب مصطفى محمود أيضاً في الفن، الدراما و الإثارة التي هي هادفة و مسلية في الوقت ذاته.
					مسرحياته و طبعاً، روايته التي ذاع صيتها و لا تزال تقرأ إلى يومنا هذا:
				</p>
			</section>
			<div class="secondary-nav" id="books2">
				<ul class="second-nav-items">
					<li><a href="books.html#books">كَتب</a></li>
					<li class="active">
						<a href="books-subpage.html#books-2">قصص و مسرحيات</a>
					</li>
				</ul>
			</div>
			<section class="gallery temp-gallery">
				<span class="loading-animation"></span>
			</section>
        </div> 
		</main>
		<footer>
			<%- include("../partials/footer")  %> 
		</footer>
		<script src="JS/script_books-subpage.js" async></script>
	</body>
</html>
