<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<%- include("../partials/head") %> 
		<link type="text/css" rel="stylesheet" href="CSS/books.css" />
		<title>مصطفى محمود</title>
	</head>

	<body>
		<header>
			<%- include("../partials/navbar") %> 
		</header>
		<main>
			<section class="intro">
				<section>
					<h1>جميع مؤلفات مصطفى محمود:</h1>
					<p>
						-ألف مصطفى محمود حوالي 89 كتابًا، تباينت في مواضيعها ما بين الكتب العلمية والدينية والفلسفية والاجتماعية والسياسية،
						بالإضافة إلى القصص القصيرة والروايات والمسرحيات والتأليف في أدب الرحلات أيضاً،<sup
							><a
								href="https://ar.wikipedia.org/wiki/%D9%82%D8%A7%D8%A6%D9%85%D8%A9_%D9%85%D8%A4%D9%84%D9%81%D8%A7%D8%AA_%D9%85%D8%B5%D8%B7%D9%81%D9%89_%D9%85%D8%AD%D9%85%D9%88%D8%AF"
								>[1]</a
							></sup
						>
					</p>
				</section>
			</section>
			<div class="secondary-nav" id="books">
				<ul class="second-nav-items">
					<li class="active">
						<a href="/literature">كَتب</a>
					</li>
					<li><a href="/literature-subpage">قصص و مسرحيات</a></li>
				</ul>
			</div>
			<section class="gallery temp-gallery ">
				<!-- TODO add ids for highlighted books -->
				<!-- TODO  make a 404 page -->
				<span class="loading-animation"></span>
				</div> 
			</section>
		</main>
		<footer>  <%- include("../partials/footer")  %> </footer>
		<script src="JS/script_books.js" async></script>
	</body>
</html>
